*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
margin: 0;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
p{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FaF8;
    margin: 0;
    padding: 0;
}

.body_1{
    background-color: #1F2937;
    padding: 0 10vw 10vw 10vw;
    min-height: 25vw
    
}
button{
    display: flex;
    background-color: #3882F6 ;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    max-height: 50px;
    width: 100px;
    font-weight: 700;
    border-radius: 10px;
    border: 0px;;
}
img{
    display: flex;
    flex-shrink: 0;
    height: 30vh;
}

h2{
    font-size: 24px;
    font-weight: 700;
    color: #F9FaF8;
    margin: 0;
    padding:0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
 margin-bottom: 10vw
}

.content_1{
    display: flex;
flex-direction: column;
max-width: 400px;
}

.content_page_1{
    display: flex;
    gap: 48px;
}

.body_2{
    background-color: white;
    padding: 0 10vw 0 10vw;
    min-height: 25vw;
    margin-bottom: 10vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3{
font-size: 36px;
font-weight: 800;
color: #1F2937
}

.info{
border: solid  #3882F6  4px;
height: 200px;
min-width: 200px;
max-width: 200px;
border-radius: 25px;
margin-bottom: 16px;

}
.text{
    color: #1F2937;
    font-size: 18px;
    max-width: 200px;
   min-width: 200px;

}



.content_2_div{
    margin-top: 10vh;
    display: flex;
    gap: 48px;

}

.content_2_text{
    display: flex;
    gap: 48px;
}

.body_3{
    background-color: #E5E7EB;
    padding: 0 10vw 0 10vw;
    min-height: 25vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
h4{
  max-width: 40vw;
   display: flex;
   justify-content: center;
   align-items: center;

   font-size: 36px;
   font-style: italic;
   font-weight: lighter;
   color: #1F2937;
   margin: 0
}
 p.quote{
    color: #1F2937 ;
    display: flex;
    justify-content: flex-end;
    width: 40vw;
    font-weight:700
}